<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Car</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Newest Trip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user, class: 'btn btn-default btn-xs' %></td>
        <td><%= user.car %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.trips.last.start_location unless user.trips.empty? %>
            ->
            <%= user.trips.last.end_location unless user.trips.empty? %></td>
        <% if user == current_user %>
          <td><%= link_to 'Show', user, class: 'btn btn-success btn-xs' %>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning btn-xs' %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-primary btn-xs' unless logged_in? %>
