<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.name %></h1>
</p>


<p>
  <h4>
    <strong>Car:</strong>

    <% if @user.car %>
      Yes
      <strong>Number of Seats:</strong>
      <%= @user.number_of_seats %>
    <% else %>
      No
    <% end %>
  </h4>
</p>

<p>
  <table class='table'>
    <thead>
      <tr>
        <th>Phone Number</th>
        <th>Email Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%=@user.phone%></th>
        <th><%=@user.email%></th>
      </tr>
    </tbody>
  </table>
</p>

<%= render 'show_trips' %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default btn-xs' %> |
<% end %>

<%= link_to 'Back', users_path, class: 'btn btn-default btn-xs' %>
