<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<p>
  <strong>Car:</strong>

  <% if @user.car %>
    Yes
    <strong>Number of Seats:</strong>
    <%= @user.number_of_seats %>
  <% else %>
    No
<% end %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>

  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Trips:</strong>
    <div id="multiColumn">

      <table>
        <thead>
          <tr>
            <th>Departure Time</th>
            <th>Start location</th>
            <th>End location</th>
            <th>Transit</th>
            <th colspan="3"></th>
          </tr>
        </thead>
          
        <tbody>
          <% @user.trips.each do |trip| %>  
            <tr>
              <td><%= trip.departure %></td>
              <td><%= trip.start_location %></td>
              <td><%= trip.end_location %></td>
              <td><%= trip.transit %></td>
              <% if @user == current_user %>
                <td><%= link_to 'Show', trip, class: 'btn btn-success btn-xs' %></td>
                <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
                <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>
